.wrapper {
  display: flex;

  gap: 1rem;

  flex-direction: column;

  margin: 1rem;
}

.plot {
  margin-block-start: 2rem;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}