.header {
  display: flex;
  position: relative;

  justify-content: space-around;

  border-bottom: 1px solid #424242;
}

.searchWrapper {
  display: flex;
  position: relative;

  justify-content: space-around;
  
  width: 100%;
}